@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

body {
    margin: 0;
    font-family: Ubuntu, sans-serif !important;
}

main {
  margin: 32px;
}



.backgroundleft {
    /* Sizing */
    width: 50vw;
    height: 100vh;
    float: left;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-color: #00003b;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.backgroundright {
    /* Sizing */
    width: 50vw;
    height: 100vh;
    float: left;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;
    font-family: Ubuntu, sans-serif;

    /* Background styles */
    background-color: #cc003b;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.backgroundtext {
  text-align: center;
  position: absolute;
  top: 200px;
}

.button1 {
    /* Positioning and sizing */
    display: block;
    width: 400px;
    opacity: 1.0;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    font-family: Ubuntu, sans-serif;

    /* Border styles */
    border-radius: 2px;

    /* Background styles */
    background-color: #33003b;
}

.button2 {
    /* Positioning and sizing */
    display: block;
    width: 400px;
    opacity: 1.0;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    font-family: Ubuntu, sans-serif;

    /* Border styles */
    border-radius: 2px;

    /* Background styles */
    background-color: #99003b;
}

.dropdown-menu {
  opacity: 0.7;
}

.dropdown-toggle {
  outline: none;
}

a:hover {
  opacity: 0.7;
  color: #ffffff;
  text-decoration: none;
}

.button1:hover {
  opacity: 0.7;
  color: #ffffff;
  text-decoration: none;
}

.button2:hover {
  opacity: 0.7;
  color: #ffffff;
  text-decoration: none;
}

.titlepage {
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 350px;
  background-color: #66003b;
  height: 100%;
}

.titlepage h1 {
  opacity: 0.8;
  text-align: center;
  font-size: 75px;
  position: relative;
  margin-bottom: 50px;
}

.titlepage h2 {
  opacity: 0.7;
}

.homepage {
  background-color: #66003b;
}

.wdubutton {
  font-weight: bolder;
  font-size: 75px;
  color: #ffffff;
  opacity: 0.8;
}

.wdubutton:hover {
  color: #ffffff;
  text-shadow: 8px 8px #000000;
  text-decoration:none;
}

.programspage {
    opacity: 0;
    transition: opacity .8s ease-in-out;
    -moz-transition: opacity .8s ease-in-out;
    -webkit-transition: opacity .8s ease-in-out;
}

.programspage.all-loaded {
    opacity: 1;
}
